@charset "UTF-8";
/* line 4, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  margin-bottom: 20px;
}

/* line 10, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.header-left {
  float: left;
  height: 65px;
  color: white;
}

/* line 15, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.header-left h2 {
  margin: 15px;
}

/* line 18, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.header-right {
  float: right;
  margin: 0 auto;
}

/* line 22, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

/* line 27, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
  list-style-type: none;
  border-left: 1px solid white;
}

/* line 35, /vagrant/blog_app/app/assets/stylesheets/home.scss */
p {
  font-size: 16px;
  line-height: 40px;
}

/* line 40, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.update-btn {
  width: 150px;
  background-color: #28b086;
  float: left;
}

/* line 46, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.update-btn:hover {
  background-color: blue;
  transition: 1s;
}

/* line 50, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.cancel-btn {
  width: 200px;
  background-color: #28b086;
  float: left;
  text-align: center;
  margin-left: 20px;
}

/* line 57, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.cancel-btn:hover {
  background-color: red;
  transition: 0.8s;
}

/*cubeのレイアウト*/
/* line 63, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.cube {
  background-color: none;
  text-align: center;
  margin-top: 180px;
}

/* line 69, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.toplogin-btn {
  width: 100px;
  background-color: #239b76;
  text-decoration: none;
}

/* line 74, /vagrant/blog_app/app/assets/stylesheets/home.scss */
.toplogin-btn:hover {
  background-color: #4169e1;
  transition: 1s;
}
/* line 1, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 5, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
#particles {
  height: 720px;
  position: relative;
}

/* line 9, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.box1 {
  height: 300px;
  width: 200px;
  background-color: #FFFF99;
  display: block;
  position: absolute;
  text-align: center;
  left: 41%;
  top: 28%;
  opacity: 0.8;
  border-radius: 20px;
}

/* line 21, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

/* line 32, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.primary-btn {
  width: 200px;
  background-color: #FFFF99;
  float: left;
}

/* line 37, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.primary-btn:hover {
  background-color: #239b76;
  transition: 1s;
}

/* line 41, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.sign_up-btn {
  width: 150px;
  background-color: #FFFF99;
  float: left;
}

/* line 46, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.sign_up-btn:hover {
  background-color: #239b76;
  transition: 1s;
}

/* line 50, /vagrant/blog_app/app/assets/stylesheets/login_page.scss */
.field {
  font-size: 17px;
}
@charset "UTF-8";
/* line 4, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.btn {
  padding: 8px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

/* 「投稿する」「保存」ボタン */
/* line 16, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.posting-btn {
  width: 250px;
  background-color: #28b086;
  float: left;
  margin: 60px;
}

/* line 23, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.posting-btn:hover {
  background-color: blue;
  transition: 1s;
}

/* line 27, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.form-control {
  display: block;
  width: 100%;
  font-size: 18px;
}

/* line 32, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.title-field {
  height: 30px;
  width: 400px;
}

/* line 36, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.content-field {
  height: 200px;
  width: 400px;
}

/* line 40, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.save-btn {
  width: 100px;
  background-color: #239b76;
  margin-left: 120px;
}

/* line 45, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.save-btn:hover {
  background-color: blue;
  transition: 1s;
}

/*投稿の一覧*/
/* line 50, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.notes {
  margin: 0;
}

/* line 54, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.notes td {
  overflow: auto;
  padding: 0 0 10px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #eaeaea;
}

/* line 60, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.posting-title {
  text-decoration: none;
}

/* line 63, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.edit-btn {
  width: 40px;
  background-color: #28b086;
  float: left;
  margin: 30px;
  text-decoration: none;
}

/* line 70, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.edit-btn:hover {
  background-color: blue;
  transition: 1s;
}

/* line 74, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.destroy-btn {
  width: 40px;
  background-color: #28b086;
  float: left;
  margin: 30px;
  text-decoration: none;
}

/* line 81, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.destroy-btn:hover {
  background-color: red;
  transition: 1s;
}

/* line 85, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.newpost-btn {
  width: 100px;
  background-color: #28b086;
  float: left;
  margin: 60px;
  text-decoration: none;
  text-align: center;
}

/* line 94, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.newpost-btn:hover {
  background-color: blue;
  transition: 1s;
}

/*投稿内容*/
/* line 99, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.note_title {
  height: 30px;
  width: 500px;
}

/* line 103, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.note_content {
  height: 100px;
  width: 600px;
}

/* line 107, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.note_image {
  height: 700px;
  width: 800px;
}

/* line 111, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.note_edit {
  height: 100px;
  width: 400px;
  float: left;
}

/* line 117, /vagrant/blog_app/app/assets/stylesheets/notes.scss */
.index-btn {
  margin-left: 30px;
  text-decoration: none;
}
/*
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
*/
/* line 13, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 19, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 22, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color:none;
  transition: 1s;
}

/*
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
*/
/* line 39, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 43, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 49, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  /*
    ul li {
      font-size: 12px;
      list-style: square;
    }
    */
}
/* line 57, /vagrant/blog_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 1, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 6, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
#particles {
  height: 750px;
  position: relative;
}

/* line 10, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
.box1 {
  padding-top: 20px;
  height: 310px;
  width: 300px;
  background-color: #FFFF99;
  display: block;
  position: absolute;
  text-align: center;
  left: 37%;
  top: 30%;
}

/* line 21, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

/* line 31, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
.primary-btn {
  width: 300px;
  background-color: #FFFF99;
  float: left;
}

/* line 36, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
.primary-btn:hover {
  background-color: #239b76;
  transition: 1s;
}

/* line 40, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
.login-btn {
  width: 250px;
  background-color: #FFFF99;
  float: left;
  margin-top: 20px;
}

/* line 46, /vagrant/blog_app/app/assets/stylesheets/sign_up.scss */
.login-btn:hover {
  background-color: #239b76;
  transition: 1s;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

