<!DOCTYPE html>
<html>
<head>
	<title>教育</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/education.scss">
</head>
<body>
	<div class="sidebar">
		<%= link_to "教育とは？", education_path, class: "sidemenu" %>
		<%= link_to "子供の心理", education_path, class: "sidemenu" %>
	</div>
	<div id="contents">
		<h1>〜教育とは？〜</h1>
		<p>あなたは、教育と聞いてどんなことを思いつきますか？</p>
	</div>
</body>
</html>