<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/assets/home.scss">
	</head>
	<body>
	<script type="text/javascript">
	window.onload = function(){

	var settings = {
		interval : 1000, 
		dur : 40000, 
		windowWidth : $(window).width(),
		windowHeight : $(window).height()
	}
	
	var styleFor = {
		height : 22, 
		width : 22, 
		'border-width' : 10 
	}
	
	var styleInit = {
		position:'absolute',
		'z-index' : 1,
		display : 'inline-block',
		border : 'solid 4px #eaeaea',
		height : 8,
		width : 8,
		adj : 0
	}
	
	var cube = {
		init : function(){
			$('body')
				.wrapInner('<div style="position:relative;z-index:2"></div>')
				.append('<div style="position:fixed;top:0;left:0;z-index:1" id="cube-area"></div>');
			
			$('#cube-area').css({
				height : settings.windowHeight,
				width : settings.windowWidth
			});
			
			styleInit.adj = styleFor['border-width'] + styleFor['width'];
		},
		add : function(){
			var initX = cube.getRandomX();
			var initY = cube.getRandomY();
	
			var endX = cube.getRandomX();
			var endY = cube.getRandomY();
			
			styleFor.left = endX;
			styleFor.top = endY;
			
			$('#cube-area').append($('<div class="block" />')
				.css(styleInit) // end init
				.css({
					top : initY,
					left : initX,
				})
				.animate(styleFor,{
						easing : 'linear',
						duration : settings.dur,
						complete : function(){
							$(this).fadeOut(300,function(){
								$(this).remove();
							});
						}
					}
				)
			);
		},
		getRandomX : function(){
			return Math.floor( Math.random() * settings.windowWidth - styleInit.adj);
		},
		getRandomY : function(){
			return Math.floor( Math.random() * settings.windowHeight );
		}
	}

	// execute
	cube.init();
	setInterval(function(){
		cube.add();
	},settings.interval);
}


	</script>
	<script>
	$('head').append(
'<style type="text/css">body {display:none;}'
);
$(window).load(function() {
$('body').delay(100).fadeIn("slow");
});
</script>
<div class="cube">
	<h1><br>ようこそ、E & Sへ</h1>
	<p><br>E & Sは、Education(教育)とStudy(勉強)の略称です。<br>
	ここでは、<span>教育に関する情報</span>や<span>勉強の効率を向上させる方法</span>、心理学などを用いた教育、<br><span>暗記科目の効率的な勉強の仕方</span>など様々な情報を手に入れることができます。<br>
	そして、ご登録していただければ「みんなのQ & A」のコーナーで質問等をすることができます。<br>
	あなたがこのサイトを利用することで、今まで学校では教わることのなかった情報に出会うことができます。<br>
	それを利用して、ぜひ<span>「勉強や教育はこんなにも楽しいものなのか！」</span><br>
	と、思っていただきたいです。<br>
	<span>あなたという存在をもう一段階レベルアップさせましょう！</span><br>
	以下からEducation(教育)またはStudy(勉強)のどちらかを選んでみてください。</p>
	<br>
	</div>
<div class="contents">
	<div class="circle1">
		<%= link_to image_tag('/assets/study.png', class: "image_study"), education_path %>
		<p>Education</p>
	</div>
	<div class="circle2">
		<%= link_to image_tag('/assets/education.png', class: "image_education"), study_path %>
		<p>Study</p>
	</div>
</div>
<div class="footer">
	<h1>〜お問い合わせ〜</h1>
	<ul>
		<li>Email : t.hnori0429@gmail.com</li>
	</ul>
</div>
	</body>
</html>
