<!DOCTYPE html>
<html>
<head>
	<title>勉強とは？</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/study.scss">
</head>
<body>
<script>
	$('head').append(
'<style type="text/css">body {display:none;}'
);
$(window).load(function() {
$('body').delay(100).fadeIn("slow");
});
</script>
	<div class="sidebar">
		<%= link_to "勉強とは？", study_path, class: "sidemenu" %>
		<%= link_to "効率的な勉強法", study_path, class: "sidemenu" %>
	</div>
	<div id="contents">
		<h1>〜勉強とは？〜</h1>
		<p>あなたは勉強にどんなイメージを持っていますか？</p>
		<p>
			やはり勉強と聞くと、<br>
			<span1>楽しくない、面倒くさい、やって意味あるの？</span1><br>
			などマイナスなイメージが大きいですよね。<br>
			そして、中学や高校で勉強したもの<br>
			<span1>
				「方程式」<br>
				「二次関数」<br>
				「速さの求め方」<br>
			</span1>
			などなど、「将来本当に必要なの？」というものがたくさんありますよね。<br>
	そして、ついには、、、<br>
		    <span1>「将来のためだよ！」</span1>と言われてしまう。<br>
		    全然イメージなんて湧いてきませんよね。<br>
		    では、将来にはどのように勉強は役に立つのか？<br>
		    ここで、数学を例えにしてみましょう。<br>
		    学校で習った数学にはたくさんの「公式」が出てきますよね。<br>
		    そして、その公式を使って問題を解いていきますね。<br>
		    言うのは簡単ですが、多くの悩みは、、、<br>
		    	<h2><span1>「出てくる公式が多くて、どの公式を使っていいのかわからない」</span1></h2>
		<p>
		    しかし、たくさんある公式の中から<br>
		    <span>
		    	「こういう問題の場合は、この公式を使えるな」<br>
		    </span>
		    というように考えることができることが将来にとても役に立つのです。<br>
		    どういうことかというと、、、<br>
		</p>
		<h2>
			<span>この問題では何を求めたくて、<br>
			　　　　　　　　どのようにそのゴールにアプローチすればいいのか？</span>
		</h2>
		<p>
			ということを問題を解くだけで自然と考えることができるのです！<br>
			この考え方は、将来社会人になった時に一番必要な考えなのです。<br>
			<span1>
				「社会人なんてまだまだ先の話じゃん」<br>
				「そんなことできなくても誰かがやるし何とかなるでしょ」<br>
			</span1>
			と、思うかもしれません。<br>
			ですが、少し大げさに聞こえるかもしれませんが、、、<br>
			今、学校に通っているあなたもしくは塾に通っているあなた<br>
		</p>
		<h2>
		       <span> そんなあなたは、時間が経つにつれて<br>
				　　　　　　　　　　この日本を支える人間に自動的になってしまいます。<br>
			</span>
		</h2>
		<p>
			ですが、あなたが先ほどの考え方ができれば、<br>
		</p>
		<h2>
			<span>
				あなたのこれから人生は、とても豊かになることは間違いありません！
			</span>
		</h2>
		<p>
			かつての私自身もそうだったのですが、<br>
			勉強は、やらされているうちは何の意味もありません。<br>
			気づきましたか？<br>
			<span1>
				「親が勉強しろっていうから〜」<br>
				「先生が勉強しなさいって言うから〜」<br>
			</span1>
			これらの不満には、あなた自身の行動は一つもないのです。<br>
			あなたの人生にあなたの行動や意見がないのは悔しくないですか？<br>
			もし、悔しいという気持ちになれたあなたは、、、<br>
		</p>
		<h2>
			<span>
				もうすでに今までよりも一段階も二段階もレベルアップしています！
			</span>
		</h2>
		<p>
			さあ、もっともっとレベルアップしてあなた自身のために<br>
			それと同時に学校の成績もアップさせましょう！！<br>
		</p>

	</div>
</body>
</html>