<!DOCTYPE html>
<html>
<head>
	<title>勉強とは？</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/study.scss">
</head>
<body>
	<div class="sidebar">
		<%= link_to "勉強とは？", study_path, class: "sidemenu" %>
		<%= link_to "効率的な勉強法", study_path, class: "sidemenu" %>
	</div>
	<div id="contents">
		<h1>〜勉強とは？〜</h1>
		<p>あなたは勉強にどんなイメージを持っていますか？</p>
	</div>
</body>
</html>